{% extends 'lista/base.html' %}
    
    {% block content %}
        {% for post in posts %}
            <div>
                <!--<p>published: {{ post.published_date }}</p>-->
                <!--<h1><a href="">{{ post.title }}</a></h1>-->
                <p>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.pierwszy }}</a></h2>
                    <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.drugi }}</a></h3>
                    <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.trzeci }}</a></h4> 
                    {% if post.comments.count > 0 %} ({{ post.comments.count }}) {% endif %}  
                </p>  
                
            </div>
        {% endfor %}
    {% endblock %}
